body,html,#container{
	
	height:100%;
	width:100%;
	margin: 0px;
	font-family:"Courier New";
}

#powered{
	
	text-align:center;
	width:300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:20px;
	padding-top:20px;
	
}