
	
	<div id="manageUSers">
		<h2>Manage users</h2>
		<h3>Add user</h3>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>Confirmation with instructions to finish the process will be sent to the email.</legend>
				<label for="username">User name</label>
				<input type="text" name="username" value="" />
				<label for="usermail">User email</label>
				<input type="text" name="usermail" value="" />
				
				<input type="hidden" name="action" value="addUSer" />
				<input type="submit" value="Add user" />
			</fieldset>
		</form>
		
		<h3>Current users</h3>
		
		{if count($currentUsersData) > 0}
		
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>First select users. Then select action.</legend>
				
				<ul class="userlist">
					{section name=currentUSers loop=$currentUsersData}
					<li><input type="checkbox" name="toRemove[{$currentUsersData[currentUSers].user_id}]" value="true" /> {$currentUsersData[currentUSers].name}</li>
					{/section}
				</ul>
				
				<input type="hidden" name="action" value="removeUsers" />
				<input type="submit" value="Remove selected" />
			</fieldset>
		</form>
		
		{else}
		
		<p>No users. Keep in mind that you can NOT remove admin or guest users.</p>
		{/if}
		
		<h3>Users pending confirmation</h3>
		
		{if count($tempUsersData) > 0}
		
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>First select users. Then select action.</legend>
				
				<ul class="userlist">
					{section name=tempUsers loop=$tempUsersData}
					<li><input type="checkbox" name="toRemove[{$tempUsersData[tempUsers].confirmation}]" value="true" /> {$tempUsersData[tempUsers].name}, pending since {$tempUsersData[tempUsers].initDate}</li>
					{/section}
				</ul>
				
				<input type="hidden" name="action" value="removeTempUsers" />
				<input type="submit" value="Remove selected" />
			</fieldset>
		</form>
		
		{else}
		
		<p>No users pending confirmation.</p>
		
		{/if}
		
	</div>

	<p><a href="index.php">Go back to admin page</p>