body{	
	font-size:0.8em;
	font-family:"Courier New";
}

div{
	margin-bottom:20px;
}

h2{
	background:#eeeeee;
	padding:5px;
}

.processRight{
	background:#0000ff;
}

.processWrong{
	font-weight:bold;
	background:#ff0000;
}

.processWrong, .processRight{
	font-size:1.5em;
	color:#fff;
	padding:5px;
	text-align:center;
}

.userlist{
	list-style: none;
}