<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$xmlLang}" lang="{$xmlLang}">
<head>
<title>ZBooks create account confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>
	<h1>ZBooks - create account confirmation</h1>
	<p>This is a confirmation email to create a ZBooks user in __USERDOMAIN__. If you didn't ask for this user account, please ignore this confirmation, your email will be removed in 7 days.</p>
	<p>To finish the registration process, please follow this link:</p>
	<a href="__CONFIRMATIONPAGE__?action=confirm&amp;key=__CONFIRMATIONKEY__">__CONFIRMATIONPAGE__?action=confirm&amp;key=__CONFIRMATIONKEY__</a>
	<p>ZBooks is a free open source on-line bookmarks manager. Visit ZBooks' website to learn more.</p>
	<p>Thanks!</p>
	<a href="http://www.zarate.tv/proyectos/zbooks/index_en.htm">ZBooks</a>
</body>
</html>