<div id="basicOptions">
		<h2>Basic options</h2>
		<h3>Import options</h3>
		<span><a href="import.php">Go to import page</a></span>
		<h3>Display options</h3>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>Display options</legend>
				<label for="bookmarksTarget">Target for opening bookmarks</label>
				<input type="text" name="bookmarksTarget" value="{$bookmarksTarget}" />
				<label for="bookmarksNumber">Bookmarks per page</label>
				<input type="text" name="bookmarksNumber" value="{$bookmarksNumber}" />
				<label for="showURL">Show URL</label>
				<input type="text" name="showURL" value="{$showURL}" />
				<input type="hidden" name="action" value="basicOptions" />
				<input type="submit" value="Change" />
			</fieldset>
		</form>
		<h3>Change email</h3>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>Please enter a valid email.</legend>
				<label for="newUserEmail">Email</label>
				<input type="text" name="newUserEmail" value="{$userEMail}" />
				<input type="hidden" name="action" value="changeEmail" />
				<input type="submit" value="Change" />
			</fieldset>
		</form>
		
		<h3>Change password</h3>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>Please enter both old and new passwords.</legend>
				<label for="currentPass">Current password</label>
				<input type="password" name="currentPass" value="" />
				<label for="newPass1">New password</label>
				<input type="password" name="newPass1" value="" />
				<label for="newPass2">New password (repeat)</label>
				<input type="password" name="newPass2" value="" />
				<input type="hidden" name="action" value="changePassword" />
				<input type="submit" value="Change" />
			</fieldset>
		</form>

		
	</div>

	{if $admin}
	<div id="adminOptions">
		<h2>Admin options</h2>
		<h3>Users</h3>
		<span><a href="users.php">Manage users</a></span>
		<h3>Autobackup options</h3>
		<p>A few words about autobackup. The idea is:</p>
		<ul>
			<li>Everytime the *admin* enters ZBooks, the date of the last backup is checked. If is time to backup, the process starts.</li>
			<li>A new file is created depending on your backup format settings.</li>
			<li>That file could be either send to the admin via email or stored in the server. Do NOT store the file in the server if you have the ZBooks' data folder inside the public root of your server, otherwise the file will be accessible (including user names and emails) by anyone.</li>
		</ul>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
				<legend>Backup options</legend>
				<label for="autobackup">Autobackup?</label>
				<input type="checkbox" name="autobackup" value="true" {$autobackup} />
				<label for="backuponserver">Autobackup on server?</label>
				<input type="checkbox" name="backuponserver" value="true" {$backuponserver} />
				<label for="autobackupdays">Days between backups?</label>
				<input type="text" name="autobackupdays" value="{$autobackupdays}" maxlength="5" />
				<input type="hidden" name="action" value="backup" />
				<input type="submit" value="Change" />
			</fieldset>
		</form>
		<h3>Reset application</h3>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post">
			<fieldset>
			<legend>Do you really want to remove *ALL* bookmarks, labels, users, etc?</legend>
			<input type="hidden" name="action" value="resetApp" />
			<input type="submit" value="Yes, reset ALL the information. Thanks." />
			</fieldset>
		</form>
	</div>
	{/if}