<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$xmlLang}" lang="{$xmlLang}">
<head>
<title>{$pageTitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="admin.css" type="text/css" media="screen" />

</head>

<body>
<div>
<h1>ZBooks - Admin</h1>
{include file="loginForm.htm"}

{if $showAdminRightsWarning}
{include file="adminRightsWarning.htm"}
{/if}

{if $showError}
<div class="{$errorType}">
	<p>{$processError}</p>
</div>
{/if}

{if $logged}

	{if $adminTemplate}
	{include file=$adminTemplate}
	{/if}
	
{/if}

</div>
</body>
</html>