
	
	<div id="import">
		<h2>Import</h2>
		<span>Import bookmarks form other sites:</span>
		<form action="{php} echo $_SERVER["PHP_SELF"]; {/php}" method="post" enctype="multipart/form-data">
			<label for="userFile">Select the file on your local drive/network:</label>
			<input type="file" name="userFile" />
			<fieldset>
				<legend>Select the file type. Sorry, we can´t do that for you... yet :)</legend>
				<input type="radio" name="fileType" value="netscape" />
				<label for="fileType">Firefox, Ma.gnolia, Internet Explorer, Netscape.</label>
				<input type="radio" name="fileType" value="delicious" checked />
				<label for="fileType">del.icio.us</label>
				<input type="radio" name="fileType" value="safari" />
				<label for="fileType">Safari</label>
				<input type="radio" name="fileType" value="opera" />
				<label for="fileType">Opera</label>
			</fieldset>
			<label for="private">Private?</label>
			<input type="checkbox" name="private" value="1" />
			<input type="hidden" name="action" value="import" />
			<input type="submit" value="Send. And please, wait!" />
		</form>
	</div>

	<p><a href="index.php">Go back to admin page</p>
	