<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$xmlLang}" lang="{$xmlLang}">
<head>
<title>{$pageTitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" href="zbooks.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/flaccess.js"></script>
<script type="text/javascript" src="js/zbooks.js"></script>

</head>

<body>
	<div id="container">
	<script type="text/javascript">
		addFlash(0,6,"zbooks.swf","100%","100%","body,container","FlashVars:{$flashvars}");
	</script>	
	</div>
</body>
</html>