<IfModule mod_rewrite.c>

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

Options -Indexes

RewriteRule ^(.*/)?\.svn/ - [F,L]
ErrorDocument 403 "Access Forbidden

# Need to keep supporting old English zlog url
RewriteRule ^proyectos/zlog/index_en.htm$ projects/zlog/

# Also need to keep supporting old v2 urls. I handle them here
# and not inside CodeIgniter because i'd have to enable query strings
# in urls and that's no good!
RewriteRule ^v2/* oldsite.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(assets)
RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteCond $1 !^(index\.php|images|robots\.txt)

</IfModule>

<IfModule !mod_rewrite.c>
# If we don't have mod_rewrite installed, all 404's
# can be sent to index.php, and everything works as normal.
# Submitted by: ElliotHaughin

ErrorDocument 404 /index.php
</IfModule> 