body{
	font-family:"Courier New";
	font-size:0.8em;
}

.version{
	color:#adadad;
}

#menu li{
	display: inline;
}

#menu ul{
	margin-left:0px;
	padding-left:0px;
}

a{
	color:#32a20b;
}

h1{
	margin-bottom:0px;
	
}

#license{
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
}

dt{
	font-weight:bold;
}

dd{
	margin-bottom:15px;
}