body,html, #container{
	
	height:100%;
	width:100%;
	margin:0px;
	background:#000;
	color:#fff;

}

dt{
	margin:8px 0px 8px 0px;
	font-weight:bold;
}

a{
	color:#fff;
	background:#0000ff;
	padding:1px;
}

#section, #hcard-Juan-Delgado, #no_flash_warning, #header{
	
	width:900px;
	margin-left:auto;
	margin-right:auto;
	
}

#languages{
	
	float:left;
	clear:both;
	
}

#menu{
	
	text-align:right;
	padding-top:1px;
	
}

ul{ padding-left:0px;}
#menu li, #languages li{ display: inline; }

#no_flash_warning{	
	
	border: 2px dotted;
	padding:20px;
	
